@using Saritasa.NetForge.Blazor.Controls
@using Saritasa.NetForge.Blazor.Domain.Entities.Options

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@(AdminOptions?.CustomLayoutType ?? typeof(MainLayout))">
            <NotAuthorized>
                <h1>Sorry</h1>
                <p>You're not authorized to reach this page.</p>
            </NotAuthorized>
            <Authorizing>
                <h1>Authentication in progress</h1>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@(AdminOptions?.CustomLayoutType ?? typeof(MainLayout))">
                <NotFound />
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>

@code
{
    [Inject]
    AdminOptions? AdminOptions { get; set; }
}
