{
  "Logging": {
    "Console": {
      "FormatterOptions": {
        "JsonWriterOptions": {
          "Indented": false
        }
      }
    }
  },
  "Application": {
  },
  "S3Settings": {
    "RegionName": "{{$.aws_s3_direct_region}}",
    "BucketName": "{{$.aws_s3_bucket_name}}",
    "AccessKey": "",
    "SecretKey": "",
    "ServiceUrl": "",
    "ForcePathStyle": false
  }
}
