@model Saritasa.NetForge.AspNetCore.Models.NetForgeModel
@{
    Layout = "../Shared/_NetForgeLayout.cshtml";
}
@section Heads {
  <base href="@Model.BaseHref" />
  <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/app.css" rel="stylesheet" />
  <link href="static/Saritasa.NetForge.BlazorWebAssembly.styles.css" rel="stylesheet" />
}

<div id="netforge"></div>
<script src="_framework/blazor.webassembly.js"></script>
