@inject IJSRuntime JsRuntime;
@inherits Saritasa.NetForge.Blazor.Controls.CustomFields.CustomField;

<div>
    <MudText Typo="Typo.subtitle2">@Property.DisplayName</MudText>
    <textarea @ref="editor">
        @PropertyValue
    </textarea>
</div>
