@using Saritasa.NetForge.Blazor.Extensions
@inherits CustomField

<MudStack Row>
    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFileAsync">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context.Id">
                Upload @Property.Name.ToMeaningfulName()
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>

    @{
        if (PropertyValue is not null)
        {
            var propertyValue = Property.IsImageBytes
                ? $"data:image/png;base64,{Convert.ToBase64String((byte[])PropertyValue)}"
                : PropertyValue.ToString();

            <div>
                <MudImage Src="@propertyValue"
                          Elevation="25"
                          Class="rounded-lg property-image" />
            </div>
        }
    }
</MudStack>
