@page "/entities"
@inherits EntitiesPage

<PageTitle>NetForge - Entities</PageTitle>

<main>
@foreach (var entityMetadata in ViewModel.Model.EntitiesMetadata)
{
    <div>
        <h1>@entityMetadata.Name</h1>
    </div>
}
</main>
