@using Microsoft.AspNetCore.Components.Web
@using Saritasa.NetForge.Domain.Entities.Options
@namespace Saritasa.NetForge.Blazor.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject AdminOptions AdminOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/Saritasa.NetForge/Saritasa.NetForge.bundle.scp.css" rel="stylesheet" />
    <link href="_content/Saritasa.NetForge/index.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <component type="AdminOptions.StaticBodyComponentType" render-mode="Static"/>
</body>
</html>
