@using Saritasa.NetForge.Domain.Entities.Options
@inherits MainLayoutComponent
@inject AdminOptions AdminOptions;

<HeadContent>
    @if (AdminOptions.CustomHeadType is not null)
    {
        <DynamicComponent Type="AdminOptions.CustomHeadType" />
    }
</HeadContent>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark" Fixed="false" Elevation="0">
        <div class="d-flex align-center px-6">
            <MudLink Color="Color.Inherit" Underline="Underline.None" Href="@GetHomePageRoute()" Typo="Typo.h6">@AdminOptions.AdminPanelHeaderTitle</MudLink>
        </div>
        <MudSpacer />
        <MudLink Color="Color.Inherit" Underline="Underline.None" Href="@AdminOptions.SiteUrl" Typo="Typo.subtitle1" Target="_blank">
            View Site
        </MudLink>
    </MudAppBar>
    <MudContainer Fixed="true" Class="mb-15">
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudContainer>
</MudLayout>

@if (AdminOptions.InteractiveBodyContent is not null)
{
    @AdminOptions.InteractiveBodyContent
}
