@model Saritasa.NetForge.Demo.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
}

<div class="h-100 d-flex flex-column justify-content-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h3>Welcome to NetForge Demo Application!</h3>
        <h5><a href="@Model.AdminPanelUrl">Go to the Admin panel</a></h5>
    </div>
</div>