@inherits Saritasa.NetForge.Blazor.Pages.MvvmComponentBase<Saritasa.NetForge.Mvvm.ViewModels.Details.DetailsViewModel>

<h3>Details of @Id</h3>

<h2>Entity: @ViewModel.Model.Name</h2>

<h2>Plural: @ViewModel.Model.PluralName</h2>
