@inherits MainLayoutComponent

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark" Fixed="false" Elevation="0">
        <div class="d-flex align-center px-6">
            <MudLink Color="Color.Inherit" Underline="Underline.None" Href="~/" Typo="Typo.h6">NetForge Admin</MudLink>
        </div>
    </MudAppBar>
    <MudContainer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudContainer>
</MudLayout>
