@using Saritasa.NetForge.Domain.Entities.Options
@inject AdminOptions AdminOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/admin/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <link href="_content/Saritasa.NetForge/Saritasa.NetForge.bundle.scp.css" rel="stylesheet"/>
    <link href="_content/Saritasa.NetForge/index.css" rel="stylesheet"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>
<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @if (AdminOptions.StaticBodyComponentType is not null)
    {
        <component type="AdminOptions.StaticBodyComponentType" render-mode="Static"/>
    }
</body>
</html>
