# ==============================================================================
# UNIT-TEST
#
# ==============================================================================
name: unit-test

on:
  pull_request:
    branches:
      - develop
      - main
      - 'release/*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.x'

    - name: Checkout Source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Unit Tests
      run: dotnet test src